link(rel="stylesheet", href="load2.css")

h1 CSS LOADERS
p
	button Click for demo
.box .loader-01
	.loader-01
.box .loader-02
	.loader-02
.box .loader-03
	.loader-03
.box .loader-04
	.loader-04
.box .loader-05
	.loader-05
.box .loader-06
	.loader-06
.box .loader-07
	.loader-07
.box .loader-08
	.loader-08
.box .loader-09
	.loader-09
.box .loader-10
	.loader-10
.box .loader-11
	.loader-11
.box .loader-12
	.loader-12
.box .loader-13
	.loader-13
.box .loader-14
	.loader-14
.box .loader-15
	.loader-15
.box .loader-16
	.loader-16
.box .loader-17
	.loader-17
.box .loader-18
	.loader-18
.box .loader-19
	.loader-19
.box .loader-20
	.loader-20
.box .loader-21
	.loader-21
.box .loader-22
	.loader-22
.box .loader-23
	.loader-23
.box .loader-24
	.loader-24
.box .loader-25
	.loader-25
.box .loader-26
	.loader-26
.box .loader-27
	.loader-27
.box .loader-28
	.loader-28
.box .loader-29
	.loader-29
.box .loader-30
	.loader-30
.box .loader-31
	.loader-31
.box .loader-32
	.loader-32
.box .loader-33
	.loader-33
.box .loader-34
	.loader-34
.box .loader-35
	.loader-35
.box .loader-36
	.loader-36
.box .loader-37
	.loader-37
.box .loader-38
	.loader-38
.box .loader-39
	.loader-39
.box .loader-40
	.loader-40
.box .loader-41
	.loader-41
.box .loader-42
	.loader-42
.box .loader-43
	.loader-43
.box .loader-44
	.loader-44
.box .loader-45
	.loader-45
.box .loader-46
	.loader-46
.box .loader-47
	.loader-47
.box .loader-48
	.loader-48
.box .loader-49
	.loader-49
.box .loader-50
	.loader-50
.box .loader-51
	.loader-51
.box .loader-52
	.loader-52
.box .loader-53
	.loader-53
.box .loader-54
	.loader-54
.box .loader-55
	.loader-55
.box .loader-56
	.loader-56
.box .loader-57
	.loader-57
.box .loader-58
	.loader-58
.box .loader-59
	.loader-59
.box .loader-60
	.loader-60
.box .loader-61
	.loader-61
.box .loader-62
	.loader-62
.box .loader-63
	.loader-63
.box .loader-64
	.loader-64
.box .loader-65
	.loader-65
.box .loader-66
	.loader-66
.box .loader-67
	.loader-67
.box .loader-68
	.loader-68
.box .loader-69
	.loader-69
.box .loader-70
	.loader-70
.box .loader-71
	.loader-71
.box .loader-72
	.loader-72
.box .loader-73
	.loader-73
.box .loader-74
	.loader-74
.box .loader-75
	.loader-75
.box .loader-76
	.loader-76
.box .loader-77
	.loader-77
.box .loader-78
	.loader-78
.box .loader-79
	.loader-79
.box .loader-80
	.loader-80
.box .loader-81
	.loader-81
.box .loader-82
	.loader-82
.box .loader-83
	.loader-83
.box .loader-84
	.loader-84
.box .loader-85
	.loader-85
.box .loader-86
	.loader-86
.box .loader-87
	.loader-87
.box .loader-88
	.loader-88
.box .loader-89
	.loader-89
.box .loader-90
	.loader-90
.box .loader-91
	.loader-91
.box .loader-92
	.loader-92
.box .loader-93
	.loader-93
.box .loader-94
	.loader-94
.box .loader-95
	.loader-95
.box .loader-96
	.loader-96
.box .loader-97
	.loader-97
.box .loader-98
	.loader-98
.box .loader-99
	.loader-99
	
<script src="https://cdn.jsdelivr.net/gh/exis9/squery@latest/squery.min.js"></script>
<script src="load2.js"></script>